body {
  padding-top: 50px;
}

.js-result-name{
  width: 100px;
  height: 30px;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content button:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* Change color of disabled buttons */
.disabled {
    color: #999;
}

/* just a little to make the recipies look a bit better */
.ingredientsList{
    display: inline-block;
}
.nutritionOverview{
    display:inline-block;
    border: 1px solid black;
    padding: 5px;
}