html { 
  background: url("../images/salad.jpeg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  background-color: #1a100500;
  background-blend-mode: screen;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: white;
}
.wrapper{
  min-height: calc(100vh - 50px);
}
header{
    width: 90%;
    height: 20vh;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0,0,0,0.5);
}
h1{
    color: white;
    text-align: center;
}
main{
    width: 90%;    
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    padding: 12px;
    background-color: rgba(0,0,0,0.5);
}
fieldset{
    width: auto;
    padding: 3px;
}
button{
    margin: 3px;
}
button:not([disabled]){ 
    font-weight: bold;   
}
button:not([disabled]):hover{
    cursor: pointer;   
    font-style: italic;
}

.welcomeViewSection{
    text-align: center;    
}

/*  */
.js-searchByIngredientsViewBtn, .js-submitButton, .backToSearchResults{
    padding: 5px 9px;
}
.js-searchByIngredientsViewBtn:hover { 

}
.js-backToSearchBtn{
    display: block;
}

.ingredientsSearchView{
    text-align: center;        
}

.additionalSearchParamaters{
    margin-top: 50px;
    margin-bottom: 25px;
}

.js-result-name{
  width: 100px;
  height: 30px;
}

h3 span {
    background: #864195;
    border-color: #652872;
    display: inline-block;
    width: 9px;
    height: 9px;
    margin-right: 1em;
    border: 1px solid silver;
    vertical-align: middle;
}

/* For Phones */
.flex{
    display: flex;
    flex-wrap: wrap;
}
/* the recipe 'card' */
.recipePreview{
    position: relative;
    padding: 0px;
}   /* recipe card title */
.recipePreview h3{
    margin-bottom: 0px;
}
.titleLinkBtn{
    height: 36px;
    width: 100%;
    margin: 0px;
    background-color: rgba(0,0,0,0.5);
    color: white;
}
.imageLinkBtn{
    padding: 0px;
    margin: 0px;
    width: 100%;
}
.image-link{
    width: 100%;
    height: 100%;
}
/* Rules for 'animated' display */
.recipePreview:hover>.moreData{
    height: 2em;
    line-height: 2em;    
    font-size: 1em;
}
.moreData{
    background-color: rgba(0,0,0,0.75);
    color: white;
    bottom: 0;
    right: 0;
    text-align: right;
    padding-right: 6px;
    position: absolute;
    width: 100% !important;
    height: 0em;
    line-height: 0em;
    transition: .3s ease-in-out;
    font-size: 0em;
}

/************************************/
/* Rules for the recipe detail page */
/************************************/
.centered{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.recipeImage{
    max-width: 100%;
} 
/* Off site reference links */
.referenceLinks{
    margin-top: 5px;
    margin-bottom: 5px;
}
.referenceLinks a{    
    cursor: pointer;
    text-decoration: underline;    
}
.referenceLinks a:hover{
    color: #81C753;
    background-color: #3A6A1B;
}
/* preparation data */
.preparationData{
    width: 100%;
    height: auto;
    margin-bottom: 2em;
}
.preparationDataList{
    list-style-type: none;
    margin: 0;
    padding: 0;    
}
/* ingredient list */
.ingredients, .instructions, .nutrition{
    background-color: rgba(255,255,255,0.80);    
}
.ingredientWrapper{
    display: inline-block;
    height: 160px;
    margin-bottom: 2em;
}
.ingredient{
    width: 100px;
    height: 100px;
    position: relative;
    margin-right: 5px;
    margin-top: 24px;
}
.ingredientAmountUS{
    display: block;
    top: 0;
    height: 19px;
    font-size: 16px;
    text-align: center;
}
.ingredientImageWrapper{
    width: 110px;
    height: 105px;
    vertical-align: middle;
    text-align: center;
    line-height: 100px;
    background-color: #fff;
    position: relative;
}
.ingredientImage{
    max-width: 100px;
    max-height: 69px;
    vertical-align: middle;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.ingredientName{        
    bottom: -15px;
    height: 26px;
    line-height: 14px;
    text-align: center;
}

/* Change color of disabled buttons */
.disabled {
    color: #999;
}

/* just a little to make the recipies look a bit better */
.ingredientsList{
    display: inline-block;
}
.nutritionOverview{
    display:inline-block;
    border: 1px solid black;
    padding: 5px;
}